    <div class="login-container" id="login-box">
        <div class="login-box">
            <h2>Login</h2>
            <form (ngSubmit)="onSubmit()" #cadastroForm="ngForm">
                <div class="textbox">
                    <input type="text" placeholder="Username" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
                    <div hidden id="name-msg">
                        <small>Nome é necessário</small>
                    </div>
                </div>
                <div class="textbox">
                    <input type="password" placeholder="Password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                    <div hidden id="password-msg">
                        <small>Senha é necessário</small>
                    </div>
                </div>
                <button type="submit" class="btn">Login</button>
            </form>
        </div>
    </div>
